includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src/

    excludePaths:
        - tests/

    # Level 9 is the highest level
    level: 5

#    ignoreErrors:
#        - "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
#
#
#    checkMissingIterableValueType: false
