html, body, .side-bar, .main-header, .search-input {
    background-color: #0D011E !important;
}

a {
    // color: #FB70A9; // for dark mode?
    color: #FF3F8E;
}

.nav-list .nav-list-item .nav-list-expander {
    // color: #FB70A9; // for dark mode?
    color: #FF3F8E;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
    color: #FB70A9;
}

.site-header {
    // margin-top: 0.5rem;
}

.site-footer {
    display: none;
}
