// Background colors
html, body, .side-bar, .main-header, .search-input {
    background-color: #0D011E;
}

// Hover & active state
.site-title:hover, .nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #1e0c36 0%, rgba(13,1,30,0.8) 80%, rgba(13,1,30,0) 100%);
}

// sidebar / header dividers
.sidebar, .site-header, .main-header {
    border-color: #44434D8C !important;
}

// Anchor links
a {
    // color: #FB70A9; // for dark mode?
    color: #FF3F8E;
}

.nav-list .nav-list-item .nav-list-expander {
    // color: #FB70A9; // for dark mode?
    color: #FF3F8E;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
    color: #FB70A9;
}

// Search icon color
.search-label .search-icon {
    color: #FF3F8E;
}

// Copy button color
.main-content .anchor-heading svg {
    color: #FF3F8E;
}

// Copy button in code block
div.highlighter-rouge>button, div.listingblock>div.content>button, figure.highlight>button {
    border: 0.75rem solid transparent;
    background-color: transparent;
}

// Hide just-the-docs footer
.site-footer {
    display: none;
}

// Code blocks
div.highlighter-rouge, div.listingblock>div.content, figure.highlight {
    background: transparent;
}

div.highlighter-rouge div.highlight {
    padding: 1.5rem;
}

.highlight, pre.highlight {
    background: #261939;
    border-radius: 0.5rem;
}

// Search results
.search-results {
    background-color: #2E2A33A3;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

@media (min-width: 50rem) {
    .search-results {
        width: 100%;
    }
}

#search-results::-webkit-scrollbar {
    display: none;
}

.search-active .search-input {
    background-color: transparent;
}

.search-result:hover, .search-result.active {
    background-color: #0A01159E;
}
